In [25]:
import pandas as pd
import numpy as np

In [26]:
data=pd.read_csv('/content/Salaries.csv')

In [27]:
data.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [28]:
# what is the average base pay
average_basepay=data['BasePay'].mean()
print("The average base pay is {}".format(average_basepay))

The average base pay is 66325.44884050643

In [29]:
# What is the highest and lowest amount of OvertimePay in the dataset?
max_overtimepay=data['OvertimePay'].max()
print("The Maximum amount of overtime pay is {}".format(max_overtimepay))
min_overtimepay=data['OvertimePay'].min()
print("The Minimum amount of overtime pay is {}".format(min_overtimepay))

The Maximum amount of overtime pay is 245131.88
The Minimum amount of overtime pay is -0.01

In [30]:
# What is the job title of DAVID FRANKLIN?
job_title=data[data['EmployeeName']=="DAVID FRANKLIN"]['JobTitle']
print(job_title)

14    BATTALION CHIEF, (FIRE DEPARTMENT)
Name: JobTitle, dtype: object

In [31]:
# How much does DAVID FRANKLIN make(including benefits)?
Total_pay=data[data['EmployeeName']=="DAVID FRANKLIN"]['TotalPayBenefits']
print(Total_pay)

14    286347.05
Name: TotalPayBenefits, dtype: float64

In [32]:
# What is the name of the lowest and highest paid person (including benefits)?
max_payee_name=data[data['TotalPay']==data['TotalPayBenefits'].max()]['EmployeeName']
print(max_payee_name," paid ",data['TotalPayBenefits'].max() )
min_pay_name=data[data['TotalPay']==data['TotalPayBenefits'].min()]['EmployeeName']
print(min_pay_name," paid ",data['TotalPayBenefits'].min())

0    NATHANIEL FORD
Name: EmployeeName, dtype: object  paid  567595.43
148653    Joe Lopez
Name: EmployeeName, dtype: object  paid  -618.13

In [23]:
# Do you notice something strange about how much he or she is paid from the results of Q.5
print("Minimum pay can't be negative")

Minimum pay can't be negative

In [24]:
# What was the average BasePay of all employee per year?
grouped = data.groupby('Year')
print(grouped['BasePay'].agg(np.mean))

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64