In [1]:
gdp = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv"
unemployment = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv"

In [2]:
import pandas as pd
import requests

1. Create a dataframe that contains the GDP data and display the first five rows of the dataframe.

In [10]:
df_gdp = pd.read_csv(gdp)
df_gdp.head(5)

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

2. Create a dataframe that contains the unemployment data. Display the first five rows of the
dataframe.

In [11]:
df_unemployment = pd.read_csv(unemployment)
df_unemployment.head(5)

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

3. Display a dataframe where unemployment was greater than 8.5%.

In [12]:
df_unemployment[df_unemployment['unemployment']>8.5]

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333