# Day - 1 Pandas Tutorial

#### 1. Given a list of bicycle types 'trek', 'cannondale', 'redline', 'specialized' print the third type of bicycle to the console in the form "My first bicycle was a .........."

In [3]:
list_bicycle=['trek','cannondale','redline','sepcialized']
index=3
print('My first bicycle was a '+list_bicycle[index-1])

My first bicycle was a redline

#### 2. Give the list of cars model 'bmw', 'audi', 'toyota', 'subaru' perform the following operations 

1. sort the list

2. reverse the list

3. Print the original list

In [5]:
list_cars=['bmw', 'audi', 'toyota', 'subaru' ]
print(sorted(list_cars))
print(list_cars[::-1])
print(list_cars)

['audi', 'bmw', 'subaru', 'toyota']
['subaru', 'toyota', 'audi', 'bmw']
['bmw', 'audi', 'toyota', 'subaru']

#### 3. Given the list of motorvehicle's brand 'honda', 'yamaha', 'suzuki', 'ducati' a customer finds Ducati is much expensive. Hence remove the brand from the list and display the new list with a message to customer.

In [8]:
list_motor=[ 'honda', 'yamaha', 'suzuki', 'ducati']
list_motor.remove("ducati")
print("Here are your new options {}".format(list_motor))

Here are your new options ['honda', 'yamaha', 'suzuki']

#### 4. Your are decided to call for party and listed your faviourite food items such as 'pizza', 'falafel', 'carrot cake'. Later you came to know your friends want to add icecream to your list. Also, you want to add new food item 'cannoli' to your list. Update your item list and your firend's list seperately and print to the console.

In [10]:
list_food_my=['pizza', 'falafel', 'carrot cake']
list_food_friend=[i for i in list_food_my]
list_food_my.append("cannoli")
list_food_friend.append("icecream")
print(list_food_my)
print(list_food_friend)

['pizza', 'falafel', 'carrot cake', 'cannoli']
['pizza', 'falafel', 'carrot cake', 'icecream']

#### 5. Alice, David, and Carolina are three magicians. Print the message to each magicians to the console using the template given below.

1. Name of magician, that was a great trick!

2. I am running out of time to see your next trick, Name of the magician.

3. At the end say "Thank you all, that is a great magic show!"

In [12]:
list_of_magicians=['Alice', 'David',  'Carolina' ]
for i in list_of_magicians:
  print(i," that was a great trick")
  print("I am running out of time to see your next trick {}".format(i))
  print("Thank you all, that is a great magic show!\n")

Alice  that was a great trick
I am running out of time to see your next trick Alice
Thank you all, that is a great magic show!

David  that was a great trick
I am running out of time to see your next trick David
Thank you all, that is a great magic show!

Carolina  that was a great trick
I am running out of time to see your next trick Carolina
Thank you all, that is a great magic show!

#### 6. List the numbers in range 100-106 to the console.

In [16]:
import numpy as np
for i in range(100,107):
  print(i)

100
101
102
103
104
105
106

#### 7a. Given the list of players in a team 'charles', 'martina', 'michael', 'florence', 'eli', print the first three players to console

In [17]:
list_players=[ 'charles', 'martina', 'michael', 'florence', 'eli']
print(list_players[:3])

['charles', 'martina', 'michael']

#### 7b. Given the list of players in a team 'charles', 'martina', 'michael', 'florence', 'eli', print all the players in the team except 'Alen Eli' using indexing and slicing.

In [18]:
list_players=[ 'charles', 'martina', 'michael', 'florence', 'eli']
print(list_players[:-1])

['charles', 'martina', 'michael', 'florence']

#### 7c. Given the list of players in a team 'charles', 'martina', 'michael', 'florence', 'eli', print all the players in the team without using indexing and slicing.

In [19]:
list_players=[ 'charles', 'martina', 'michael', 'florence', 'eli']
for i in list_players:
  print(i)

charles
martina
michael
florence
eli

#### 8. Correct the code below to print the list of squares

In [27]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 9. The Amusement park has announced the entry fee as shown in Table 1. The visitors above 65 Years are not allowed to takes rides and admission cost is zero. Having read the age of a visitor on console, calculate the admission cost in $. Also, print the appropriate message for visitors above 65 Yrs.

![image-4.png](attachment:image-4.png)

In [28]:
age = int(input())
def price(age):
  if age <= 4:
    return 0
  elif age <= 18:
    return 10.5
  elif age <= 40:
    return 10
  elif age <= 65:
    return 5.5
  else:
    return -1
p = price(age)
if p == -1:
  print("Sorry! You can't take any rides.")
else:
  print("Ride fee: " , p)

15
Ride fee:  10.5

#### 10. A Media group is looking for responses to their article from users. However the cyber securty team of the group want to block the banned users viz 'Albert', 'Angle Carolina', 'John David' from posting responses to media contents. If the user 'Tony Marie' is not in the banned listed print message to the user to post response.

In [29]:
banned = ['Albert', 'Angle Carolina', 'John David']
try:
    banned.index('Tony Marie')
except:
    print('Tony Marie'+' is not in the banned list, so you can posst your content')

Tony Marie is not in the banned list, so you can posst your content