In [2]:
import pandas as pd

In [3]:
dataPath = "../Data/Ecommerce Purchases"
df = pd.read_csv(dataPath)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [4]:
df.isna().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

1. How many rows and columns are there?

In [5]:
print("There are {0} rows and {1} columns".format(df.shape[0],df.shape[1]))

There are 10000 rows and 14 columns

2. What is the average Purchase Price?

In [6]:
print("The average purchase price is: ",df['Purchase Price'].mean())

The average purchase price is:  50.34730200000025

3. What were the highest and lowest purchase prices?

In [8]:
print("The highest purchase price is: ", max(df['Purchase Price']))
print("The lowest purchase price is: ", min(df['Purchase Price']))

The highest purchase price is:  99.99
The lowest purchase price is:  0.0

4. How many people have English 'en' as their Language of choice on the website?

In [11]:
print("There are {0} people".format(df['Language'].value_counts()['en']))

There are 1098 people

5. How many people have the job titles of "Lawyer" "Contracting civil engineer" ?

In [14]:
print("There are {0} people as Lawyers and {1} people as Contracting civil engineers".format(df['Job'].value_counts()['Lawyer'], df['Job'].value_counts()["Contracting civil engineer"]))
# df['Job'].value_counts()['Lawyer']
# df['Job'].value_counts()["Contracting civil engineer"]

There are 30 people as Lawyers and 21 people as Contracting civil engineers

6. How many people made the purchase during the AM and how many people made the purchase during PM ?

In [15]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

7. What are the 3 most common Job Titles?

In [17]:
print("The 3 most common JobTitles are:")
for i in df['Job'].value_counts().keys()[0:3]:
  print(i)

The 3 most common JobTitles are:
Interior and spatial designer
Lawyer
Social researcher

8. Someone made a purchase that came from Lot: "20 IE" , what was the Purchase Price for this transaction?

In [21]:
print("Purchase price is: ",df[df['Lot']=="20 IE"]['Purchase Price'].values[0])

Purchase price is:  77.82

9. What is the email of the person with the following Credit Card Number: 4926535242672853?

In [38]:
if len(df[df['Credit Card']==4926535242672853]['Email']) == 0:
  print("Record not found!")
else:
  print("Email is: ",df[df['Credit Card']==4926535242672853]['Email'].values[0])

Email is:  bondellen@williams-garza.com

10. How many people have American Express as their Credit Card Provider *and made a purchase above $85 ?

In [29]:
count = 0
for i in df[df['CC Provider']=="American Express"]['Purchase Price']:
  if i > 85:
    count += 1
print("The required count is: ",count)

The required count is:  119

11. How many people have a credit card that expires in 2025?

In [31]:
count = 0
for i in df['CC Exp Date']:
  year = i.split("/")[1]
  if year == "25":
    count += 1
print("The required count is: ",count)

The required count is:  1033

12. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [32]:
find_provider = lambda email: email.split("@")[1]

In [36]:
find_provider("hello@gmail.com")

'gmail.com'

In [33]:
df["EmailProvider"] = df['Email'].apply(find_provider)

In [37]:
print("The top 5 most popular email providers:")
print(df['EmailProvider'].value_counts()[0:5])

The top 5 most popular email providers:
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: EmailProvider, dtype: int64